<div class="partial">
    <h3>My Nav Bar</h3>
    <ul>
        <li><a href="/">Home</a></li>
        {{#quotes}}
            <li><a href="/{{character}}"> {{ character }}</a></li>
        {{/quotes}}
    </ul>
</div>
