<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>My Futurama Fansite</title>
        <link rel="stylesheet" href="/stylesheet.css">
    </head>
    <body>
        <div class="layout">
            {{{ body }}}
            {{> nav }}
        </div>
    </body>
</html>
